.footer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.footer__list-item {
  display: inline-block;
  margin: 0 9px;
}

.footer__list-item:first-of-type {
  margin-left: 18px;
}

.footer__link {
  text-decoration: none;
}