.header {
  position: relative;
  color: #FFF;
  height: 114px;
  background-image: url("../../assets/header.png");
  background-repeat: no-repeat;
  background-position: top;
}

.header__background {
  height: 100%;
  width: 100%;
  background-color: #4489b3;
  opacity: 0.9;
}

.header__title {
  position: absolute;
  display: block;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 100;
  white-space: nowrap;
}

.header__breadcrumbs {
  position: absolute;
  z-index: 1;
  top: 0;
  font-size: 1.2rem;
}

.header__breadcrumb {
  display: inline-block;
  padding: 10px 0 0 10px;
}

.header__breadcrumb::after {
  content: '>';
  padding-left: 10px;
}

.header__breadcrumb:last-of-type::after {
  content: '';
}

@media (min-width: 600px) {
  .header__title {
    font-size: 3.6rem;
  }
}
