.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F9F7F3;
  z-index: 1;
}

.modal__overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  background-color: #746E66;
  font-size: 1.2rem;
  line-height: 0.9rem;
  cursor: pointer;
  padding: 8px;
}

.modal__title {
  background-color: #FFF;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px;
}

.modal__form {
  padding: 20px;
}

.modal__form-row {
  display: flex;
  margin: 5px 0 15px;
}

.modal__input-label {
  font-size: 1.2rem;
  width: calc(100% - 11px);
}

.modal__input-label:last-of-type:not(:first-of-type) {
  margin-left: 22px;
}

.modal__input-label:only-of-type {
  width: 100%;
}

.modal__input-label--required {
  color: #DF2834;
}

.modal__input-box {
  margin-top: 2px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  height: 26px;
  width: 100%;
}

.modal__input-box--required {
  border: 1px solid #DF2834;
}

.modal__small-print {
  display: block;
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
}

.required {
  display: inline-block;
  margin-left: 15px;
}

.required__exclamation{
  position: relative;
  margin-right: 8px;
  font-size: 1rem;
  color: #FFF;
}

.required__exclamation::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -4px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #DF2834;
  z-index: -1;
}

@media (min-width: 600px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    border-radius: 10px;
    height: 320px;
  }

  .modal__close-btn {
    top: -12px;
    right: -12px;
  }

  .modal__title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
