html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: sans-serif;
  background-color: #F0EEEA;
}

.link {
  color: #2E688E;
  text-decoration: none;
}

.link--has-underline {
  text-decoration: underline;
}

.button {
  display: block;
  border: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 #dce0e0;
}

.button--primary {
  background-color: #B7D748;
}

.button--secondary {
  padding: 6px 10px;
  background-color: #808080;
}

.fixed {
  position: fixed;
}
